  
 
  <nav>
            <div id="logo"><img src="../assets/metropolis.png" width="60" height="60" alt=""></div>
            <a href="#" title="Home">
              <span class="fa fa-home"></span>
              <img src="../assets/reel.png" width="30" height="30">
               <span class="label">Home</span>
            </a>
            <a href="#" title="About" class="active">
              <span class="fa fa-user"></span>
              <img src="../assets/reel.png" width="30" height="30">
              <span class="label">About</span>
            </a>
            <a href="#" title="Blog">
              <span class="fa fa-pencil"></span>
              <img src="../assets/reel.png" width="30" height="30">
              <span class="label">Blog</span>
            </a>
            <a href="#" title="Contact">
              <span class="fa fa-envelope"></span>
              <img src="../assets/reel.png" width="30" height="30">
              <span class="label">Contact</span>
            </a>
          </nav>

  


  <div class="row justify-content-end text">
      <div class=".col-md-6 .offset-md-3">  
        <blockquote class="blockquote text-center">
      <p class="mb-0">"Abramos el proceso, el cine de declara culpable"</p>
      <footer class="blockquote-footer"> <cite title="Source Title">Jean Epstein</cite></footer>
    </blockquote>
  </div>
  </div>

  
  
  



 
 