
          <div class="banner">
            <h1></h1>
            <blockquote class="blockquote text-center">
              <p class="mb-0">"Abramos el proceso, el cine se declara culpable"</p>
              <footer class="blockquote-footer"> <cite title="Source Title">Jean Epstein</cite></footer>
        

            </blockquote>

          </div>
          
          <div style="overflow:auto" class="body-home">
            <div class="menu">
              <div class="menuitem">
                <nav>
                  <div id="logo"><img src="../assets/metropolis.png" width="60" height="60" alt=""></div>
                  <a href="#" title="Home">
                    <span class="fa fa-home"></span>
                    <img src="../assets/reel.png" width="30" height="30">
                     <span class="label">Home</span>
                  </a>
                  <a href="#" title="About" class="active">
                    <span class="fa fa-user"></span>
                    <img src="../assets/reel.png" width="30" height="30">
                    <span class="label">About</span>
                  </a>
                  <a href="#" title="Blog">
                    <span class="fa fa-pencil"></span>
                    <img src="../assets/reel.png" width="30" height="30">
                    <span class="label">Blog</span>
                  </a>
                </nav>
      
              </div>
              
            </div>
          
            <div class="main">
              <h2>Lorum Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
          
            <div class="right">
              <h3>Character of the month</h3>
              <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" class="img-port">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
          </div>
          
          <div style="text-align:center;padding:10px;margin-top:7px;"> Ima cute footer</div>
          
  
  
  



 
 