  <nav>
            <div id="logo"><img src="../assets/reel.png" width="60" height="60" alt=""></div>
            <a href="#" title="Home">
              <span class="fa fa-home"></span>
              <span class="label">Home</span>
            </a>
            <a href="#" title="About" class="active">
              <span class="fa fa-user"></span>
              <span class="label">About</span>
            </a>
            <a href="#" title="Blog">
              <span class="fa fa-pencil"></span>
              <span class="label">Blog</span>
            </a>
            <a href="#" title="Contact">
              <span class="fa fa-envelope"></span>
              <span class="label">Contact</span>
            </a>

